<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AdvanceJava</display-name>
  <servlet>
    <servlet-name>ServletConfig</servlet-name>
    <servlet-class>com.java.servlet.ServletConfig</servlet-class>
    <init-param>
      <param-name>system</param-name>
      <param-value>java</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.java.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContext</servlet-name>
    <servlet-class>com.java.servlet.ServletContext</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignFrontController</servlet-name>
    <servlet-class>com.java.servlet.SignFrontController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.java.servlet.SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.java.servlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfig</servlet-name>
    <url-pattern>/ServletConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContext</servlet-name>
    <url-pattern>/ServletContext</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignFrontController</servlet-name>
    <url-pattern>/SignFrontController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>firstservlet.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>port</param-name>
    <param-value>1521</param-value>
  </context-param>
</web-app>